.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #1303fc, #4103fc);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather.morning {
    background: linear-gradient(to bottom, #9bafd9, #103783);
}

.weather.afternoon {
    background: linear-gradient(to bottom, #F7C566, #DC6B19, #6C0345);
}

.weather.night {
    background: linear-gradient(to bottom, #9290C3, #535C91, #1B1A55, #070F2B);
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    color: #fff;
    font-size: 65px;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 40px;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}